@import "./fonts.css";
@import './base.css';

html, body {
    font-family: Roboto, sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 100vh;
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 45px 20px 0;
}

label, input {
    display: flex;
    max-width: 100%;
    width: 100%;
}
input {
    background-color: rgb(235,233,233);
    border-radius: 4px;
    padding: 20px 18px;
    color: var(--main-color);
}
input::placeholder {
    color: var(--main-color)
}

h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 100%;
}